:root {
  --primary-white: #dfebed;
  --primary-orange: #f78536;
  --primary-dark: #2b4450;
  --primary-light: #497285;
}

  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    letter-spacing: 1px;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
body {
    
}

#content,
#headings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  
}
#headings {
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  background-color: var(--primary-dark);
  color: #ffac39;
}
#content{
    min-height: 100vh;
}
#content > div {
  background-color: var(--primary-white);

  color: var(--primary-dark);
  padding: 10px;
}
#project-list {
  grid-column: 1/2;
  background-color: aquamarine;
}

.project-list-item , .todo-list-item {
  position: relative;
  transition: all 0.1s ease-in-out;
  padding: 5px 5px;
  border-radius: 5px;
  text-transform: capitalize;
  margin: 5px;
  color: var(--primary-dark);
  background-color: #497285;
  color: var(--primary-white);
}
.project-list-item:hover ,.todo-list-item:hover{
  background-color: var(--primary-orange);

  transform: scale(1.03);
}
.project-list-item.active,.todo-list-item.active {
  background-color: var(--primary-orange);
  transform: scale(1);
}
.project-list-item button ,.todo-list-item button{
  position: absolute;
  padding: 5px;
  font-size: 0.8rem;
  transition: all 0.2s ease;
  bottom: 5px;
  right: 5px;
  background-color: var(--primary-white);
  border: 2px solid white;
  color: var(--primary-dark);
  border-radius: 2px;
}
.project-list-item button:hover,.todo-list-item button:hover {
  color: var(--primary-white);
  background-color: red;
}

#todo-list {
  position: relative;
  grid-column: 2/3;
  background-color: bisque;
}
#todo-list h1{
    text-transform: capitalize;
    margin-bottom: 10px;
    font-style: italic;
    letter-spacing: 5px;
}

#todo-details {
  grid-column: 3/4;
  background-color: darkgrey;
}
/* 
.delete-btn {
  background-color: red;
  color: white;
  padding: 3px;
  font-weight: bold;
} */

#add-btn {
  transition: all 0.1s ease-in-out;
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 20px;
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-orange);
}
#add-btn:hover {
  transform: scale(1.05);
  background-color: var(--primary-white);
  color: var(--primary-orange);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
#add-btn:active {
  transform: scale(1);
}
.popup-form {

  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.form-container {
  width: 400px;
  color: var(--primary-white);
  background-color: var(--primary-dark);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 5px solid var(--primary-light);
}
.form-container >label {
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
 
}
.form-container input{
    padding: 3px;
    outline: none;
    border: none;
    border-radius: 3px;
}


#todo-details > *{
    margin: 5px 0 10px 5px;
    display: block;

}